@model UsersViewModel
@{
	ViewData["Title"] = Model.FeaturedPost.User.Name;
}
<div class="card mb-4">
	<a href="/Posts/Index/@Model.FeaturedPost.Id"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
	<div class="card-body">
		<div class="small text-muted">@Model.FeaturedPost.CreateDate.ToString("MMMM dd, yyyy")</div>
		<h2 class="card-title">@Model.FeaturedPost.Title</h2>
		<p class="card-text">@Html.Raw(Model.FeaturedPost.Body)</p>
		<a class="btn btn-primary" href="/Posts/Index/@Model.FeaturedPost.Id">Devamını Oku →</a>
	</div>
</div>
<div class="row">

	@foreach (var item in Model.Posts)
	{

		<div class="col-lg-6">
			<div class="card mb-4">
				<a href="/Posts/Index/@item.Id"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
				<div class="card-body">
					<div class="small text-muted">@item.CreateDate.ToString("MMMM dd, yyyy")</div>
					<h2 class="card-title h4">@item.Title</h2>
					<p class="card-text">@Html.Raw(item.Body)</p>
					<a class="btn btn-primary" href="/Posts/Index/@item.Id">Devamını Oku →</a>
				</div>
			</div>
		</div>
	}

</div>